section{
	overflow:hidden;
}
section div.top{
	width:100%;
	height:40px;
	line-height:40px;
	background:#383a3d;
	color:#fff;
	padding:0px 15px;
	position:relative;
	z-index:1;
}
@media screen and (min-width:750px){
	section div.top{
		margin:0 auto;
		max-width:1200px;
	}
}
section div.list{
	width:95%;
	background:#fff;
	margin:0 auto;
	margin-top:15px;
	border-radius:5px;
	
}
section div.list .list-p1{
	position:relative;
	top:2px;
	width:auto;
	padding:5px;
	background:red;
	color:#fff;
	font-size:12px;
}
section div.list .pad{
	padding:5px 10px 0px;
	position:relative;
	margin:0px;
}
section div.list .pad span,a,b{
	font-size:12px;
}
section div.list .pad span:last-child{
	margin-left:40px;
}
section div.list .list-p2{
	padding-top:8px;
}
section div.list .list-p2 span:last-child{
	position:absolute;
	right:10px;
	top:9px;
	color:#ccc;
}
section div.list .list-p3 span:last-child{
	color:#337ab7;
}
section div.list .list-p5 span:last-child{
	width:184px;
	display:block;
	height:auto;
	position:absolute;
	left:67px;
	top:6px;
}
section div.list .list-p6{
	padding-top:20px;
	padding-bottom:15px;
}
section div.list .list-p6 span:last-child{
	margin-left:40px;
}
/*字体图标*/
@font-face {
  font-family: 'iconfont-map';
  src: url('../fonts/iconfont-map.eot');
  src: url('../fonts/iconfont-map.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont-map.woff') format('woff'),
  url('../fonts/iconfont-map.ttf') format('truetype'),
  url('../fonts/iconfont-map.svg#iconfont') format('svg');
}
.iconfont-map{
  font-family:"iconfont-map" !important;
  margin-right:3px;
  margin-left:33px !important;
}

@font-face {
  font-family: 'iconfont-bus';
  src: url('../fonts/iconfont-bus.eot');
  src: url('../fonts/iconfont-bus.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont-bus.woff') format('woff'),
  url('../fonts/iconfont-bus.ttf') format('truetype'),
  url('../fonts/iconfont-bus.svg#iconfont') format('svg');
}
.iconfont-bus{
  font-family:"iconfont-bus" !important;
  margin-right:3px;
  margin-left:10px !important;
}

@font-face {
  font-family: 'iconfont-taxi';
  src: url('../fonts/iconfont-taxi.eot');
  src: url('../fonts/iconfont-taxi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont-taxi.woff') format('woff'),
  url('../fonts/iconfont-taxi.ttf') format('truetype'),
  url('../fonts/iconfont-taxi.svg#iconfont') format('svg');
}
.iconfont-taxi{
  font-family:"iconfont-taxi" !important;
  margin-right:3px;
  margin-left:10px !important;
}